<!DOCTYPE html>
<html>
  <head>
    <title>Todo Master</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'list_show' %>
    <%= stylesheet_link_tag 'list_show', 'http://fonts.googleapis.com/css?family=Quicksand' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>
    <%= javascript_include_tag "task", "data-turbolinks-track" => true  %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
