<!DOCTYPE html>
<html>
  <head>
    <title>Todo Master</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'list_index' %>
    <%= stylesheet_link_tag 'list_index', 'http://fonts.googleapis.com/css?family=Quicksand' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
  	<%= yield %>
  </body>
</html>